.Item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.Item-image {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
}

.Item-title {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.Item-price {
  text-align: right;
  font-size: 18px;
  color: #555;
}

.Item-addToCart {
  margin-bottom: 5px;
  font-size: 14px;
  border: 2px solid #ffaa3f;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.Item-addToCart:hover {
  background-color: #ffddb2;
}

.Item-addToCart:active {
  background-color: #ed8400;
  color: #fff;
  outline: none;
}

.Item-addToCart:focus {
  outline: none;
}

.Item-left {
  flex: 1;
}

.Item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
