body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 20px;
  font-size: 14px;
}

.subtext {
  color: #777;
  font-size: 7pt;
}

h3 {
  line-height: 1.4em;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 0;
  margin-left: 5px;
}

.story {
  margin-bottom: 10px;
}

.stories {
  background-color: rgb(246, 246, 239);
  padding: 10px 30px;
  margin-top: 0;
}
.news-pack {
  margin-bottom: 10px;
}

.header {
  margin-bottom: 0;
  background-color: #ff6600;
  min-height: 20px;
}