.body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.credit-card {
  position: relative;
  width: 600px;
  height: 378px;
  border-radius: 24px;
  background-color: #2854A1;
  color: #fff;
  padding-left: 40px;
}

.name, .card-number, .first-four-digits, .expiration {
  font-family: "Courier", monospace;
  position: absolute;
  text-transform: uppercase;
}

.name {
  bottom: 40px;
  font-size: 36px;
}

.card-number {
  bottom: 160px;
  font-size: 46px;
}

.first-four-digits {
  font-size: 20px;
  font-weight: 200;
  font-family: sans-serif;
  bottom: 140px;
}

.expiration {
  font-size: 36px;
  left: 240px;
  bottom: 100px;
}

.valid-thru {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.bank-name {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 50px;
}