* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  padding: 20px;
  font-size: 14px;
}

.list {
  background-color: #e2e4e6;
  border-radius: 3px;
  padding: 8px;
  width: 270px;
  margin-right: 20px;
}

.list-item {
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 8px 4px 8px 6px;
  margin-bottom: 4px;
  min-height: 20px;
}